
/*!
 * Styleguide Declarations
 */

/* Basics */

#Styleguide,
#Navigation {
    font-size: 16px;
}

/* Wrapper */

#Styleguide {
    max-width: 95%;
    margin: 0 auto;
}

/* Chapters */

.Chapter {
    margin-bottom: 10em;
}

.Chapter__Headline {
    color: #333;
    font-family: "Karla", sans-serif;
}

/* Navigation */

#Navigation {
    color: #fff;
    background-color: #09c;
    font-family: "Karla", sans-serif;
}
#Navigation ol {
    margin-top: 1.8em;
    margin-bottom: 0;
    padding-top: .4em;
    padding-bottom: .4em;
    font-size: 1em;
    font-size: 1.1em;
    line-height: 1.8em;
}
#Navigation a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-weight: 400;
}

/* Down */

#Down {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 1em;
    color: #444;
    font-family: "Karla", sans-serif;
}
