<!DOCTYPE html>
<html lang="de">
<head>
    <!-- Content meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Page Meta -->
    <meta name="author" content="REIZWERK GmbH">
    <meta name="description" content="Styleguide für REIZWERK GmbH Projekte">
    <title>REIZWERK GmbH - Styleguide</title>

    <!-- DNS -->
    <link rel="dns-prefetch" href="http://fonts.googleapis.com">

    <!-- Icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114-precomposed.png">

    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../build/styles/main.min.css">
    <link rel="stylesheet" href="styleguide.css">
</head>
<body>
    <!-- Styleguide -->
    <div id="Styleguide">
        <section class="Chapter">
            <h2 class="Chapter__Headline">
                Überschriften
            </h2>

            <div class="Chapter__Contents">
                <h1>Headline H1</h1>
                <h2>Headline H2</h2>
                <h3>Headline H3</h3>
                <h4>Headline H4</h4>
                <h5>Headline H5</h5>
                <h6>Headline H6</h6>
            </div>
        </section>

        <section class="Chapter">
            <h2 class="Chapter__Headline">
                Blocktexte
            </h2>

            <div class="Chapter__Contents">
                <p>Der Mensch hat zwei Beine und zwei Überzeugungen: eine, wenns ihm gut geht, und eine, wenns ihm schlecht geht. Die letztere heißt Religion. Der Mensch ist ein Wirbeltier und hat eine unsterbliche Seele, sowie auch ein Vaterland, damit er nicht zu übermütig wird.</p>
                <p>Der Mensch wird auf natürlichem Wege hergestellt, doch empfindet er dies als unnatürlich und spricht nicht gern davon. Er wird gemacht, hingegen nicht gefragt, ob er auch gemacht werden wolle.</p>
            </div>
        </section>

        <section class="Chapter">
            <h2 class="Chapter__Headline">
                Formatierungen
            </h2>

            <div class="Chapter__Contents">
                <p><strong>Der Mensch hat zwei Beine und zwei Überzeugungen:</strong> eine, wenns ihm gut geht, und eine, wenns ihm schlecht geht. <i>Die letztere heißt Religion</i>. Der Mensch ist ein Wirbeltier und hat eine unsterbliche Seele, sowie auch ein Vaterland, damit er nicht zu übermütig wird. <small>&mdash; Tucholsky</small></p>
            </div>
        </section>

        <section class="Chapter">
            <h2 class="Chapter__Headline">
                Zitate
            </h2>

            <div class="Chapter__Contents">
                <blockquote>
                    <p>Der Mensch hat zwei Beine und zwei Überzeugungen: eine, wenns ihm gut geht, und eine, wenns ihm schlecht geht. <i>Die letztere heißt Religion</i>. Der Mensch ist ein Wirbeltier und hat eine unsterbliche Seele, sowie auch ein Vaterland, damit er nicht zu übermütig wird.</p>
                    <footer>Ein bekannter Autor mit dem Namen <cite title="Kurt Tucholsky">Kurt Tucholsky</cite></footer>
                </blockquote>
            </div>
        </section>

        <section class="Chapter">
            <h2 class="Chapter__Headline">
                Listen
            </h2>

            <div class="Chapter__Contents">
                <ul>
                    <li>Das ist ein Listenelement</li>
                    <li>Das ist ein Listenelement</li>
                    <li>Das ist ein Listenelement</li>
                </ul>
            </div>

            <div class="Chapter__Contents">
                <ul>
                    <li>Das ist ein Listenelement</li>
                    <li>Das ist ein Listenelement</li>
                        <ul>
                            <li>Das ist ein Listenelement</li>
                            <li>Das ist ein Listenelement</li>
                            <li>Das ist ein Listenelement</li>
                        </ul>
                    <li>Das ist ein Listenelement</li>
                    <li>Das ist ein Listenelement</li>
                </ul>
            </div>

            <div class="Chapter__Contents">
                <ol>
                    <li>Das ist ein Listenelement</li>
                    <li>Das ist ein Listenelement</li>
                    <li>Das ist ein Listenelement</li>
                </ol>
            </div>

            <div class="Chapter__Contents">
                <ol>
                    <li>Das ist ein Listenelement</li>
                    <li>Das ist ein Listenelement</li>
                        <ol>
                            <li>Das ist ein Listenelement</li>
                            <li>Das ist ein Listenelement</li>
                            <li>Das ist ein Listenelement</li>
                        </ol>
                    <li>Das ist ein Listenelement</li>
                    <li>Das ist ein Listenelement</li>
                </ol>
            </div>
        </section>

        <section class="Chapter">
            <h2 class="Chapter__Headline">
                Definitionslisten
            </h2>

            <div class="Chapter__Contents">
                <dl>
                    <dt>Kurt Tucholsky</dt>
                    <dd>Tucholsky zählt zu den bedeutendsten Publizisten der Weimarer Republik.</dd>
                    <dt>Max Frisch</dt>
                    <dd>Max Rudolf Frisch war ein Schweizer Schriftsteller und Architekt.</dd>
                    <dt>Friedrich Nietzsche</dt>
                    <dd>Friedrich Wilhelm Nietzsche war ein deutscher klassischer Philologe.</dd>
                </dl>
            </div>
        </section>

        <section class="Chapter">
            <h2 class="Chapter__Headline">
                Tabellen
            </h2>

            <div class="Chapter__Contents">
                <table>
                    <thead>
                        <tr>
                            <th>A</th>
                            <th>B</th>
                            <th>C</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10</td>
                            <td>20</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>50</td>
                            <td>60</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section class="Chapter">
            <h2 class="Chapter__Headline">
                Buttons
            </h2>

            <div class="Chapter__Contents">
                <a class="btn btn--default" href="#" role="button">Link</a>
                <button class="btn btn--default" type="submit">Button</button>
                <input class="btn btn--default" type="button" value="Input">
                <input class="btn btn--default" type="submit" value="Submit">
            </div>
        </section>

        <section class="Chapter">
            <h2 class="Chapter__Headline">
                Bilder
            </h2>

            <div class="Chapter__Contents">
                <img src="images/bird.jpg" alt="Vogel">
            </div>
        </section>
    </div>

    <!-- Navigation -->
    <nav id="Navigation" role="navigation">
        <ol></ol>
    </nav>

    <!-- Down -->
    <a id="Down" href="#Navigation">
        Down
    </a>

    <!-- Functionality -->
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="styleguide.js"></script>
</body>
</html>
